

<table>
  <caption>Dépenses dans cette catégorie</caption>
  <thead>
    <tr>
      <th>Montant</th>
      <th>Nom</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  <% curdate = nil %>
  <% for expense in @category.expenses %>
    <tr class="<%= 'newmonth' if curdate != nil and expense.date.month != curdate.month %>">
      <td class="amount"><%= html_money expense.amount %></td>
      <td><%=h expense.title %></td>
      <td><%=h expense.date.strftime('%Y-%m-%d') %></td>
      <td><%= link_to image_tag('icons/calculator_edit.png', :alt => 'Éditer'), edit_expense_path(expense), :title => 'Éditer' %></td>
    </tr>
  <% curdate = expense.date %>
  <% end %>
  </tbody>
</table>

<p><%= image_tag 'icons/book_edit.png', :alt=>''%> <%= link_to 'Éditer Catégorie', edit_category_path(@category) %>
